[build]
builder = "nixpacks"
buildCommand = "npm install && npm run build"
watchPatterns = ["backend/**"]

[deploy]
startCommand = "npm run start:prod"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[deploy.rootDirectory]
path = "backend"
